---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        recrush
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-5">
      Once upon a time, optimizing a system meant that you had to <strong>become an expert</strong> and possibly require <u>years of training</u> and <u>learning from mistakes</u>. 
    </p>
    <p class="mb-5">
      Now. let's change the game, just <strong>make one right choice.</strong>
    </p>
    <p>
      Stay tuned.
    </p>
    <a
    class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
    href="https://github.com/psiace"
  >
  <img class="block dark:hidden w-40 h-30" src="/images/signatures/psiace-black.png">
  <img class="hidden dark:block w-40 h-30" src="/images/signatures/psiace-white.png">
  </a>
  <p><strong>Chojan Shang</strong></p>
  <p><a href="mailto:psiace@recrush.com">psiace@recrush.com</a></p>
  </div>
</section>
